<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean class="com.daihuaiyu.springframework.event.CustomEventListener"/>
    <bean class="com.daihuaiyu.springframework.event.ContextClosedEventListener"/>
    <bean class="com.daihuaiyu.springframework.event.ContextRefreshedEventListener"/>
</beans>