<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="userService" class="com.daihuaiyu.springframework.bean.UserService"/>

    <bean class="com.daihuaiyu.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

<!--    <bean id="beforeAdvice" class="com.daihuaiyu.springframework.bean.UserServiceBeforeAdvice"/>-->

    <bean id="afterAdvice" class="com.daihuaiyu.springframework.bean.UserServiceAfterAdvice"/>

<!--    <bean id="methodInterceptor" class="com.daihuaiyu.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">-->
    <bean id="methodInterceptor" class="com.daihuaiyu.springframework.aop.framework.adapter.MethodAfterReturningAdviceInterceptor">
<!--        <property name="advice" ref="beforeAdvice"/>-->
        <property name="advice" ref="afterAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="com.daihuaiyu.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* com.daihuaiyu.springframework.bean.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>
</beans>